<% meta title: 'Клуб Uppa' %>

<div class="clubOuterWrapper">
    <div id="/scrollObject" class="clubInnerWrapper">
        <a href="#" class="toUppaClub">клуб UPPA</a>

        <h2 class="headerCommon">Вступайте в&nbsp;клуб&nbsp;Uppa</h2>

        <p class="descriptionCommon">Станьте членом нашего винного клуба и пользуйтесь его привилегиями. Вино UPPA WINERY широко известно среди ценителей, большая его часть зарезервирована компаниями-дистрибьюторами еще до розлива. К сожалению, из-за ограниченного тиража, мы не всегда готовы предоставить необходимое количество частным покупателям и коллекционерам. Для осуществления прямых продаж мы создали клуб UPPA WINERY, члены которого имеют возможность первыми покупать вино напрямую и по специальным ценам. Также участники сообщества получают уведомления о поступлении в продажу каждой партии нашего вина.</p>

        <div class="grapeBerriesPicture"></div>

        <div class="titleCommon possibilities">Что нужно знать о клубе:</div>

        <ol>
            <li>Для вступления необходимо заполнить анкету и выслать ее по электронной почте 7557390@mail.ru  </li>
            <li>Количество членов ограничено, как и ограничена каждая партия вина.</li>
            <li>Минимальное количество вина при отгрузке – 12 бутылок одного наименования.</li>
            <li>Отгрузка осуществляется после 100% предоплаты.</li>
            <li>Услуги транспорта за Ваш счет. Важно учитывать, что летом вино можно испортить,  перегрев его, а зимой — переохладив.</li>
        </ol>

        <div class="titleCommon welcomeToUppa">Добро пожаловать!</div>

        <a href="anketa.pdf", download="anketa"><div class="downloadForm">скачать анкету<div class="arrowSmallRight"></div></div></a>

        <div class="footerClub">
            <p class="UPPA">© UPPA by Pavel Shvets</p>
            <a href="http://redobureau.com" class="ourName">сделано в redo</a>
        </div>

    </div>

    <div id="/fakeScrollArea" class="grapeBerriesBig"></div>
</div>
