<% meta title: 'Клуб Uppa' %>

<div class="clubOuterWrapper">
    <div id="/scrollObject" class="clubInnerWrapper">
        <a href="#" class="toUppaClub">клуб UPPA</a>

        <h2 class="headerCommon">Вступайте в&nbsp;клуб&nbsp;Uppa</h2>

        <p class="descriptionCommon">Наше вино достаточно востребовано и большая его часть зарезервирована компаниями дистрибуторами еще до розлива, поэтому частным покупателям и коллекционерам мы не всегда можем предложить необходимое количество. К сожалению часто приходится отказывать или перенаправлять Вас к дистрибуторам или другим посредникам, которые выкупили вино ранее. Для возможности прямых продаж мы создали клуб Uppa Winery. Члены клуба первыми получают уведомление о поступлении в продажу каждой партии произведенное нами вина и имеют возможность первыми выкупать его напрямую по специальным ценам.</p>

        <div class="grapeBerriesPicture"></div>

        <div class="titleCommon possibilities">возможности для членов клуба:</div>

        <ol>
            <li>Для вступления необходимо заполнить анкету и выслать ее по электронной почте 7557390@mail.ru</li>
            <li>Кол-во членов ограничено, как и ограничена каждая партия вина.</li>
            <li>Минимальная кол-во вина при отгрузке 12 бут. одного наименования.</li>
            <li>Отгрузка осуществляется после 100% предоплаты.</li>
            <li>Услуги транспорта за Ваш счет. Важно учитывать, что летом вино можно испортить перегрев его, а зимой — переохладив.</li>
            <li>Возможность покупать вино у нас весь ассортимент вин напрямую имеют только члены клуба.</li>
        </ol>

        <div class="titleCommon welcomeToUppa">Добро пожаловать в клуб Uppa&nbsp;Winery!</div>

        <a href="anketa.pdf", download="anketa"><div class="downloadForm">скачать анкету<div class="arrowSmallRight"></div></div></a>

        <div class="footerClub">
            <p class="UPPA">© UPPA by Pavel Shvets</p>
            <a href="http://redobureau.com" class="ourName">сделано в redo</a>
        </div>

    </div>

    <div id="/fakeScrollArea" class="grapeBerriesBig"></div>
</div>
