/ 18 есть?
-unless @legal_age
  .ageOuterWrapper
    .ageContainer
      .theWords=t('static.home.visit')
      %a{:href => age_confirmation_path}
        .alreadyEighteen
          =t('static.home.legal')
          .arrowSmallRight
  / есть, есть
.mainWrapper
%video.bgVideo{preload: "auto", autoplay: "true", loop: "loop", muted: "muted", volume: "0"}
  %source{src: asset_path("bg.mp4"), type: "video/mp4"}
