<% meta title: 'Технология' %>

<div class="technologyOuterWrapper">
    <div id="/scrollObject" class="technologyInnerWrapper">
    <a href="#" class="toTechnology">ТЕХНОЛОГИЯ</a>

        <div class="headerCommon">Биодинамика</div>

        <p class="descriptionCommon">С самого момента закладки виноградников мы следуем особым принципам биодинамики.</p>
        <p class="descriptionCommon">Наши виноградники выращиваются в гармонии с природой. Отсутствие обработок ядохимикатами и бережное отношение к окружающей природе позволяет сформировать естественную среду и сформировать уникальное экологическое равновесие, предупреждающее виноградник от вспышек развития вредных организмов.</p>
        <p class="descriptionCommon">Сбалансированное питание винограда, уменьшение влияния стрессовых факторов, контроль за видовым составом потенциальных вредителей производится при помощи увеличения биоразнообразия насаждений, а также других биологических методов и принципов.</p>

        <div class="grapePicture"></div>

        <div class="titleCommon">Вот что мы используем:</div>
        <ul class="Using">
            <li>Зеленый сбор (до 30 гл/га)</li>
            <li>Максимальная зрелость винограда</li>
            <li>Сбор в ящики по 10 кг.</li>
            <li>Ручная сортировка</li>
            <li>Низкотемпературное&nbsp;брожение в дубе или стали до 3000&nbsp;л.</li>
            <li>Продолжительная мацерация</li>
            <li>Дикие дрожжи</li>
            <li>Минимум серы</li>
            <li>Выдержка в 228 и 500 л. бочках</li>
        </ul>

        <div class="titleCommon notUsing">Вот что мы не используем:</div>
        <ul>
            <li>Шаптализация</li>
            <li>Химическое раскисление и подкисление</li>
            <li>Корректировка цвета</li>
            <li>Корректировка танинности</li>
            <li>Микрооксидация</li>
            <li>Пастеризация</li>
            <li>Введение дрожжевых подкормок и стимуляторов</li>
            <li>ЧКД - чистые культуры дрожжей</li>
        </ul>

        <div class="wannaVisit">Хотите организовать визит?</div>

        <a href="/visit" class="knowMoreLink">
            <div class="knowMore">узнать больше <div class="arrowSmallRight"></div></div>
        </a>

        <div class="footerTechnology">
            <p class="UPPA">© UPPA by Pavel Shvets</p>
            <a href="http://redobureau.com" class="ourName">сделано в redo</a>
        </div>
    </div>

    <div id="/fakeScrollArea" class="grapeBush"></div>
</div>
