<% meta title: 'Терруар' %>
<div class="terraInnerWrapper">
    <a href="#" class="toTerroir">терруар</a>

    <div class="contentContainer">

        <p class="descriptionCommon">Главное в хозяйстве — сделать вино уникальным. Я выращиваю ягоды в гармонии с окружающей средой, стараюсь, чтобы лоза стала частью экосистемы, в которую ее привнесли», - Павел Швец.
Виноградники UPPA WINERY разделены на две части, каждая из них обладает особыми природными характеристиками и позволяет создавать сильно отличающиеся друг от друга вина. <br><br><br><br></p>

        <h2 class="headerCommon">Cler Polati</h2>

        <div class="palatiPicture illustration"></div>

        <p class="descriptionCommon">Своим названием виноградник обязан южному склону, на котором он расположен. Ряды ориентированы с севера на юг на высоте 380- 410  метров над уровнем моря, такая экспозиция позволяет получать максимум тепла и света. Люди из ближайших деревень давно заметили, как нагревается этот участок земли под крымским солнцем,  и прозвали его «Полати», по аналогии с верхним ярусом знаменитой русской печи. </p>


        <table class="titleCommon table">
            <tbody><tr>
                <td class="tableRowName">площадь</td>
                <td class="tableRowValue">3,1 га</td>
            </tr>
            <tr>
                <td class="tableRowName">дата заложения</td>
                <td class="tableRowValue">2010 год</td>
            </tr>
        </tbody></table>

        <div class="titleCommon">Сорта винограда</div>
        <p class="descriptionCommon">Мускат Блан,Мускат Оттонель, Гевюрцтраминер, Шардоне, Пино Нуар, Барбера, Неббиола, Рислинг и Кокур.</p>

        <div class="titleCommon">Почвы</div>
        <p class="descriptionCommon">бурые горно-лесные на карбонатных подпочвах</p>

        <div class="titleCommon">Высота над уровнем моря</div>
        <p class="descriptionCommon">450-470м</p>

        <div class="titleCommon">Склон</div>
        <p class="descriptionCommon">в южном направлении 9-13 град</p>

        <div class="titleCommon">Направление рядов</div>
        <p class="descriptionCommon">строго с севера на юг</p>

        <div class="titleCommon">Плотность посадки</div>
        <p class="descriptionCommon">5000 лоз/га</p>

        <div class="titleCommon">Схема посадки</div>
        <p class="descriptionCommon">2х1</p>

        <div class="titleCommon">Формировка</div>
        <p class="descriptionCommon">одноплений Гюйо на шпалере</p>

        <div class="titleCommon">Высота штамба</div>
        <p class="descriptionCommon">60 см</p>


        <h2 class="headerCommon numullite">Cler Numullite</h2>

        <div class="numullitePicture illustration"></div>

        <p class="descriptionCommon">Название этого виноградника напрямую говорит о терруаре UPPA WINERY. Нуммулит ( от лат. Nummulus — монетка ) — род вымерших морских организмов. Раковины таких организмы обнаруживаются  на винограднике в большом  количестве, свидетельствуя о том, что в сравнительно недавние геологически времена (145-150 млн. лет назад), наша материнская  порода была океанический дном.</p>

        <p class="descriptionCommon">Нуммулит ( от лат. Nummulus — монетка ) — род вымерших одноклеточных организмов. Нуммулиты имели известковую, пропитанную тонкими порами раковину и вели придонный образ жизни.</p>

        <table class="titleCommon table">
                   <tbody><tr>
                       <td class="tableRowName">площадь</td>
                       <td class="tableRowValue">4,2 га</td>
                   </tr>
                   <tr>
                       <td class="tableRowName">дата заложения</td>
                       <td class="tableRowValue">2008 год</td>
                   </tr>
               </tbody></table>

               <div class="titleCommon">Сорта винограда</div>
               <p class="descriptionCommon">Рислинг, Пино Нуар, Совиньон Блан, Мерло и Каберне Совиньон</p>

               <div class="titleCommon">Почвы</div>
               <p class="descriptionCommon">бурые горно-лесные на карбонатных подпочвах, каменистые</p>

               <div class="titleCommon">Высота над уровнем моря</div>
               <p class="descriptionCommon">420-470м</p>

               <div class="titleCommon">Склон</div>
               <p class="descriptionCommon">8-11 град</p>

               <div class="titleCommon">Направление рядов</div>
               <p class="descriptionCommon">юго-запад</p>

               <div class="titleCommon">Плотность посадки</div>
               <p class="descriptionCommon">5000 лоз/га</p>

               <div class="titleCommon">Схема посадки</div>
               <p class="descriptionCommon">2х1</p>

               <div class="titleCommon">Формировка</div>
               <p class="descriptionCommon">одноплений Гюйо на шпалере</p>

               <div class="titleCommon">Высота штамба</div>
               <p class="descriptionCommon">60 см</p>

        <div class="footerTerra">
            <p class="UPPA">© UPPA by Pavel Shvets</p>
            <a href="http://redobureau.com" class="ourName">сделано в redo</a>
        </div>
    </div>


    <div class="polatiNummulite">
        <div class="polatiBigPicture"></div>
        <div class="nummuliteBigPicture"></div>
    </div>
</div>
