#menu.menuWrapper.mobileHelper
  .menuHeader
    %a.logoUPPA{:href => "/"}
    #menuHeaderCloseBtn.menuHeaderCloseBtn
    #menuHeaderOpenBtn.menuHeaderOpenBtn
  .menuBody
    .listItemsWrapper
      %ul
        %li.listItem
          =link_to t('menu.wines'), vintages_path
          .arrowBig
        %li.listItem
          =link_to t('menu.terra'), terra_path
          .arrowBig
        %li.listItem
          =link_to t('menu.about'), about_path
          .arrowBig
        %li.listItem
          =link_to t('menu.technology'), technology_path
          .arrowBig
        %li.listItem
          =link_to t('menu.club'), club_path
          .arrowBig
    .menuFooter
      .contactsWrapper
        %ul
          %li.contactItem
            =link_to t('menu.contacts'), contacts_path
            .arrowSmall
          %li.contactItem
            =link_to t('menu.visit'), visit_path
            .arrowSmall
          %li.contactItemLanguage
            =link_to "ENG  ", locale: 'en'
            &#x2f;
            =link_to " RU ", locale: 'ru'
            &#x2f;
            =link_to "  CN", locale: 'cn'


      .socialWrapper
        -if @setting.instagram.present?
          %a.instagram{:href => "#{@setting.instagram}"}
        -if @setting.facebook.present?
          %a.facebook{:href => "#{@setting.facebook}"}
        -if @setting.vk.present?
          %a.vkontakte{:href => "#{@setting.vk}"}
      .signatureWrapper
        .signImg
        .uppaShvets UPPA by Pavel Shvets
        .ourName
          Сделано
          %a{:href => "http://redobureau.com/"} redo
-if is_black ||= false
  .header.headerBlack
    %a.logoUPPA{href: '/'}
    #headerOpenBtn.headerOpenBtn
-else
  .header
    %a.logoUPPA{href: '/'}
    #headerOpenBtn.headerOpenBtn
#dim
