#bottles-index {
  overflow: hidden;
}

.wineName{
    text-transform: uppercase;
}

.wineSort{
    text-transform: uppercase;
}

.bottlesWrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    // opacity: 0;

    transition: opacity 1500ms ease-out;

    .bottle {
        position: relative;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        height: 100vh;

        transition: transform 250ms cubic-bezier(1,.45,.27,.31);
        transform: translateY(70px);

        .goToWines {
            position: absolute;
            top: 37px;
            left: 61px;

            display: none;

            padding-bottom: 1px;

            text-decoration: none;
            letter-spacing: 1px;

            color: #000;
            border-bottom: 1px solid #000;

            font-family: $sansFamily;
            font-size: 10px;
            font-weight: 700;
        }

        .bottleImage {
            align-self: center;

            width: auto;
            height: auto;
            min-height: 85%;
            max-height: 100%;
            padding-top: 15vh;
        }

        .bottleDescription {
            position: absolute;
            bottom: 25px;
            left: 25px;

            display: flex;

            width: auto;
            height: 30px;

            letter-spacing: 1.5px;

            font-family: $sansFamily;
            font-size: 10px;
            font-weight: 700;
            line-height: 15px;

            .wineDescription {
                display: flex;
                flex-direction: column;

                width: auto;
                height: 30px;

                text-decoration: none;

                color: #000;

                .wineSortWrapper {
                    display: flex;

                    width: auto;
                    height: 15px;

                    .arrowWine {
                        align-self: center;

                        width: 11px;
                        height: 5px;
                        margin-left: 5px;

                        background-image: asset-url('arrow_wine.svg');
                    }
                }
            }
        }
    }

    .upperBlock {
        background-color: #EEEDE7;
    }

    .firstBottle {
        transition-delay: 100ms;

        background-color: #EDE1C5;
    }

    .secondBottle {
        transition-delay: 200ms;

        background-color: #DBC2C5;
    }

    .thirdBottle {
        background-color: #EAE6D7;
    }

    .fourthBottle {
        background-color: #C5BEAA;
    }

    .fifthBottle {
        background-color: #BBB77A;
    }

    .sixthBottle {
        background-color: #FFEFE5;
    }
}

@media (min-width: 800px) {

    .bottlesWrapper {
        position: relative;

        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row;

        width: auto;
        padding-left: 50px;

        .bottle {
            flex-shrink: 0;

            width: 33.3333%;

            .goToWines {
                display: flex;
            }

            .bottleImage {
                min-height: 95%;
                padding: 15vh 0 10vh;
            }

            .bottleDescription {
                bottom: 37px;
                left: 50px;
            }
        }
    }
}

@media (min-width: 1000px) {
    .bottlesWrapper {
        padding-left: 250px;
    }
}

@media (min-width: 1200px) {
    .bottlesWrapper {
        padding-left: 300px;

        .bottle {
            .bottleImage {
                padding: 15vh 0 5vh;
            }
        }
    }
}
